# Compiled Object files
*.slo
*.lo
*.o
*.class

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# mac os files
## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
*.idx
*.orig
build/
build/*
debug/
local.properties
.classpath
.settings/
.loadpath


# PDT-specific
.buildpath

index/*
dist/*
fwdindex/*
index_nofilter/*
output*
/bin/

# temp directories
bookkeeping_projs/
files_stats/
file_block_stats/
files_tokens/
blocks_tokens/
query_*.file
blocks.file
results.pair
results.pairs
logs/
SCC_LOGS/
**/__pycache__
